a, a:link, a:active, a:visited
  font-size: inherit
  position: relative
  color: $primary-color-dark
  transition: none
  &:after
    content: ""
    position: absolute
    left: 0
    right: 0
    top: 90%
    border-bottom: 2px solid transparent
  &:hover, &:focus
    color: $primary-color-dark
    text-decoration: none
    transition: none
    &:after
      border-bottom: 2px solid $primary-color

