body
  &.dark-mode
    .case-details
      p, h3, h2
        color: $dm-black
    .case-header
      p, h2, h1
        color: $dm-black
      p.company
        color: $dm-gray
      &:before
        background: $dm-white
      .intro
        background: $dm-white
        &:before, &:after
          border-bottom: 20px solid $dm-white
        &:before
          border-right: 20px solid $dm-white
        &:after
          border-left: 20px solid $dm-white
    .programs-container
      background: $dm-gray-light
      h2
        color: $dm-black
      .programs
        .program
          color: $dm-black
          .description
            color: $dm-black
            opacity: 0.7
section.case
  padding-bottom: 60px
.case-header
  padding: 80px 0 0 0
  margin: 0 0 160px 0
  position: relative
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    background: $white
    opacity: 0.6
    z-index: 0
  &.waterrower
    background: $color-waterrower
  &.color-bike
    background: $color-bike
  &.color-coach
    background: $color-coach
  &.color-edlink
    background: $color-edlink
  &.color-supporter
    background: $color-supporter
  .margin
    margin: 50px 0
  .intro
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    padding: 40px 60px
    margin: 0 0 -120px 0
    background: $white
    position: relative
    &:before, &:after
      height: 40px
      width: 40px
      content: ""
      position: absolute
      bottom: 100px
      background: transparent
      border-bottom: 20px solid $white
    &:before
      left: -20px
      border-bottom-right-radius: 40px
      border-right: 20px solid $white
    &:after
      right: -20px
      border-bottom-left-radius: 40px
      border-left: 20px solid $white
    .btn
      margin-left: -80px
      margin-bottom: 20px
.case-header, .case-panel
  p
    font-family: 'Open Sans', sans-serif
    &.company
      color: $gray
      text-transform: uppercase
      line-height: 18px
      font-size: 14px
      font-weight: 400
    &.paragraph
      line-height: 28px
.case-details, .case-header
  h2
    margin-top: 120px
    text-align: left
  p
    font-family: 'Open Sans', sans-serif
    &.paragraph
      margin: 15px 0
  .iphone-panel
    margin: 0 130px
.case-details
  margin-bottom: 80px
  &.full-width
    h2
      margin: 0
    p
      &.paragraph
        &:last-of-type
          margin: 15px 0
  p
    &.paragraph
      line-height: 28px
  ul
    margin: 10px 0
    padding: 0 30px
    li
      position: relative
      line-height: 28px
      &:before
        content: ""
        width: 3px
        height: 3px
        position: absolute
        left: -20px
        top: 14px
        transform: translateY(-50%)
        border-radius: 50%
        border: 4px solid $primary-color
  .ipad-panel
    padding: 0
    margin: 0
    &.no-radius
      border-radius: 10px
      img
        border-radius: 10px
        position: relative
        box-shadow: 0 10px 50px rgba(0,0,0,0.3)
  .wide-bar
    position: relative
    &.color-coach
      &:after
        background: $color-coach
    &.color-bike
      &:after
        background: $color-bike
    &.color-edlink
      &:after
        background: $color-edlink
    &:after
      content: ""
      width: calc(100% - 30px)
      height: 70%
      position: absolute
      left: 15px
      top: 50%
      transform: translateY(-50%)
      z-index: -1
      border-radius: 20px
      background: $primary-color
.case-panel
  p
    &.company
      position: absolute
      top: 20px
.programs-container
  margin: 20px 0 100px 0
  padding: 30px 100px 20px 100px
  text-align: center
  background: $gray-light
  border-radius: 20px
  h2
    font-size: 26px
    margin: 0 0 30px 0
  .programs
    text-align: center
    .program
      position: relative
      text-align: center
      margin-bottom: 20px
      padding-top: 80px
      line-height: 22px
      font-family: 'Open Sans', sans-serif
      &:last-of-type
        margin-right: 0
      .icon
        position: absolute
        left: 50%
        top: 0
        transform: translateX(-50%)
        border-radius: 50%
        width: 64px
        height: 64px
        background-position: center center
        background-repeat: no-repeat
        background-size: 70%
        background-color: $primary-color
        &.adobe-xd
          background-image: url("/images/icon-adobe-xd.svg")
          background-color: $adobe-xd
        &.adobe-ae
          background-image: url("/images/icon-adobe-ae.svg")
          background-color: $adobe-ae
        &.affinity
          background-image: url("/images/icon-affinity.svg")
          background-color: $affinity
        &.adobe-ps
          background-image: url("/images/icon-adobe-ps.svg")
          background-color: $adobe-ps
      .description
        font-weight: 300
        color: $gray
        padding: 10px 0 0 0
.showoff-container
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  padding: 30px
  margin-bottom: 80px
  .showoff
    width: 100%
    max-width: 1200px
    height: auto !important
    border-radius: 20px
    box-shadow: 0 10px 60px rgba(0,0,0,0.4)

.step-container
  position: relative
  &:before
    content: ""
    width: 100%
    height: 60%
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    right: 0
    background: $primary-color
    border-radius: 20px
  &.color-coach
    &:before
      background: $color-coach
  &.color-edlink
    &:before
      background: $color-edlink
  img
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2)
    border-radius: 10px
    margin: 10px
    width: calc(100% - 20px)
    height: auto

@include media ("<=extralarge")
  .case-details
    h2
      margin-top: 120px
    .iphone-panel
      margin: 0 70px

@include media ("<large")
  .case-details
    h2
      margin-top: 60px
    .iphone-panel
      margin: 0 20px
      video
        margin-left: 5%
        border-radius: 20px

@include media ("<medium")
  .case-details
    h2
      margin-top: 10px
      font-size: 28px
      line-height: 30px
    p.paragraph
      font-size: 14px
      line-height: 20px
    ul
      li
        line-height: 24px
        font-size: 14px
    h2
      margin-top: 0
    .iphone-panel
      margin: 0
      video
        margin-top: 10px
      img
        border-radius: 20px
    .ipad-panel
      margin: 0 20px
  .programs-container
    padding: 30px 20px 20px 20px

@include media ("<small")
  .case-header
    .intro
      padding: 40px 30px 20px 30px
      .btn
        margin: -10px 0 10px 0
  .case-details, .case-details.right
    margin: 0
    .iphone-panel
      margin: 0 60px 20px 60px
      video, img
        border-radius: 20px
  .programs-container
    padding: 30px 20px 20px 20px
    margin: 20px 0 40px 0
  .showoff-container
    padding: 0
    margin-bottom: 40px
    .showoff
      border-radius: 15px