header
  background: $secondary-color-opaque
  height: 90px
  padding: 30px 0
  margin-bottom: 30px
  h1
    color: $black
    font-size: 34px
    line-height: 30px
  a
    color: $black
    &:hover
      color: $black-hover
