body
  &.dark-mode
    section.work
      background: $dm-secondary-color

section.work
  background: $secondary-color
  margin-top: -26px
  padding-top: 64px
  box-sizing: border-box
  min-height: 900px
  .tags
    li
      padding: 15px
      line-height: 20px
      background: $secondary-color-opaque
      &.active
        background: $accent-color
