$primary-color: #6FBFA2
$primary-color-opaque: rgba(111, 191, 162, 0.27)
$primary-color-opaque-hover: rgba(111, 191, 162, 0.71)
$primary-color-dark: #4f8672
$primary-color-opaque-dark: rgba(79, 134, 114, 0.18)
$secondary-color: #F2E8DC
$secondary-color-opaque: rgba(242, 232, 220, 0.25)
$secondary-color-opaque-dark: rgba(210, 192, 171, 0.5)
$accent-color: #A61723

$white: #FFF
$black: #000
$gray: #717171
$gray-light: #e3e3e3
$black-hover: #343434

// Form
$input-bg: #ededed
$input-bg-focus: #f3f3f3
$dm-input-bg: #242424
$dm-input-bg-focus: #2b2b2b

// Dark mode
$dm-white: #1a1a1a
$dm-black: #e2e2e2
$dm-primary-color: #6FBFA2
$dm-secondary-color: #14120f
$dm-secondary-color-opaque: rgba(40, 40, 40, 0.5)

// Breakpoints
$breakpoints: (small: 320px, medium: 768px, large: 1024px)

// Case colors
$color-waterrower: #29C1E6
$color-coach: #00b294
$color-bike: #334690