section.blog
  background: $secondary-color-opaque-dark
  padding-top: 20px
  padding-bottom: 120px
  margin-top: -20px
.blog-panel
  border-radius: 20px
  margin: 70px -30px
  width: calc(100% + 60px)
  padding: 40px
  background: $white
  h3
    font-family: 'Vollkorn', serif
    font-size: 42px
    line-height: 36px
    margin: 10px 0
    width: 100%
    color: $black !important
  p
    font-family: 'Open Sans', sans-serif
    color: $black
    &.date
      font-size: 16px
      margin: 15px 0
      line-height: 22px
    &.paragraph
      margin: 15px 0
      line-height: 22px
      &:last-of-type
        margin: 15px 0 60px 0
  .btn-container
    position: absolute
    left: 15px
    bottom: -15px
    .btn + .btn
      margin-left: 15px